/* 메인 비디오 */
div.main .visual-area .img-canvas {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    box-shadow: inset 0px -10px 30px -10px rgb(10 10 10);
}

div.main .visual-area .img-canvas img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

div.main .visual-area .img-canvas div.title {
    position: absolute;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 1000px) {
    div.main .visual-area .img-canvas div.title {
        display: none;
    }
}


div.main .visual-area .img-canvas div.title h1 {
    display: block;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    font-size: 60px;
    color: #fff;
    animation: intro 1s ease;
    box-sizing: border-box;
}

@keyframes intro {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

div.main .visual-area .img-canvas div.title h1.black {
    color: #000;
}

/* 프로그램 정보 */

div.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

div.content .content-title {
    overflow: hidden;
    width: 600px;
    text-align: left;
}

div.content .content-title h1{
    font-size: 40px;
}
div.content .content-title h2{
    font-size: 20px;
    font-weight: 500;
}

div.content .content-title p{
    margin: 20px 0 0 0;
    font-size: 15px;
    font-weight: 300;
}

div.content .content-title ul{
    overflow: auto;
    margin: 20px 0 0 0;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

div.content .content-title ul::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Opera*/
}


div.content .content-title ul li {
    overflow: hidden;
    display: inline-block;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

div.content .content-title ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.content .content-title ul li.youtube div {
    position:relative;
    padding-bottom: 50%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}

div.content .content-title ul li.youtube div iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


div.content .content-title div.link {
    margin: 10px 0 0 0;
    text-align: right;
}

div.content .content-title div.link h1 {
    font-size: 30px;
}

div.content .content-title div.link a {
    display: inline-block;
    padding: 2.5px 10px 2.5px 40px;
    margin: 0 5px;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Bebas Neue', cursive;
    border-radius: 45px;
    box-sizing: border-box;
    transition: 1s all;
}

div.content .content-title div.link a.youtube {
    background: url(../images/sns/youtube_ch.png) no-repeat 0px / 37.5px auto #ff0000;
    color: #fff;
    box-shadow: 0px 0px 1px 1px #ff0000;
}

div.content .content-title div.link a.facebook {
    background: url(../images/sns/facebook_ch.png) no-repeat 0px / 37.5px auto #1977f3;
    color: #fff;
    box-shadow: 0px 0px 1px 1px #1977f3;
}

div.content .content-title div.link a.instagram {
    background: url(../images/sns/instagram_ch.png) no-repeat 0px / 37.5px auto;
    box-shadow: 0px 0px 1px 1px rgb(200 200 200);
    border: 1px solid #f000;
}

div.content .content-title div.link a.kakao {
    background: url(../images/sns/kakao_ch.png) no-repeat 0px / 37.5px auto #ffe100;
    box-shadow: 0px 0px 1px 1px #ffe100;
    border: 1px solid #f000;
}

div.content .content-title div.link a.cnbs {
    background: url(../images/sns/cnbs.png) no-repeat 0px / 37.5px auto #000;
    color: #fff;
    box-shadow: 0px 0px 1px 1px rgb(200 200 200);
    border: 1px solid #f000;
}

div.content .content-title div.link a.netflix {
    background: url(../images/sns/netflix.png) no-repeat 0px / 37.5px auto #000;
    color: #fff;
    box-shadow: 0px 0px 1px 1px rgb(200 200 200);
    border: 1px solid #f000;
}

div.content .content-title div.link a.youtube:hover {
    box-shadow: 0px 0px 10px 1px #ff0000;
}

div.content .content-title div.link a.facebook:hover {
    box-shadow: 0px 0px 10px 1px #1977f3;
}

div.content .content-title div.link a.instagram:hover {
    box-shadow: 0px 0px 10px 1px rgb(100 100 100);
}

div.content .content-title div.link a.kakao:hover {
    box-shadow: 0px 0px 10px 1px #ffe100;
}

div.content .content-title div.link a.cnbs:hover {
    box-shadow: 0px 0px 10px 1px rgb(100 100 100);
}

div.content .content-title div.link a.netflix:hover {
    box-shadow: 0px 0px 10px 1px rgb(100 100 100);
}

div.content .content-img {
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    line-height: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 1px rgb(100 100 100);
    transform: translateY(-20%);
}

div.content .content-img img {
    width: 100%;
}
