header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e2e2;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    z-index: 10;
    transition: all .5s;
}

header div.canvas {
    width: 100%;
    background: #fff;
    transition: all .3s !important;
}

header div.canvas:has(.menu > ul > li:nth-child(1):hover) {
    padding: 0 0 212px 0;
}

header div.canvas:has(.menu > ul > li:nth-child(2):hover) {
    padding: 0 0 258px 0;
}

header div.canvas:has(.menu > ul > li:nth-child(4):hover) {
    padding: 0 0 120px 0;
}

header div.canvas > div {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    z-index: 150;
}

header div.logo {
    padding: 15px;
    display: inline-block;
    box-sizing: border-box;
}

header div.logo a {
    display: block;
    width: 150px;
}

header div.logo img {
    width: 100%;
}

header div.menu {
    width: 50%;
}

header div.menu ul {
    height: 100%;
}

header div.menu li {
    display: inline-block;
    padding: 30px 20px;
    box-sizing: border-box;
}

header div.menu li a {
    display: block;
    font-size: 15px;
    transition: all .5s;
}

header div.menu li div.detail-menu {
    display: none;
    position: absolute;
    top: 81px;
    left: 0;
    width: 100%;
    background: none;
    border-bottom: none;
    transition: all .5s;
    z-index: 5;
}

header div.menu li:hover div.detail-menu {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

header div.menu li div.detail-menu ul {
    margin: 0 auto;
    width: 60%;
}

header div.menu li div.detail-menu ul li {
    padding: 0;
    margin: 0 0 10px 0;
    display: block;
    font-size: 25px;
    font-weight: 300;
}

header div.menu li div.detail-menu ul li:last-child {
    margin-bottom: 0;
}

header div.menu li div.detail-menu ul li:nth-child(1) a {
    font-size: 30px;
    font-weight: 900;
}

header div.menu li div.detail-menu ul li a {
    display: inline;
}

header div.language {
    padding: 0 10px;
}

header div.language ul {
    height: 100%;
}

header div.language li {
    display: inline-block;
    padding: 30px 10px;
    box-sizing: border-box;
}

header div.language li a {
    display: block;
    font-size: 15px;
    transition: all .5s;
}

header div.language li.active a {
    font-weight: 800;
}

/* small */


@media screen and (max-width: 1000px) {
    header {
        position: fixed;
    }

    header div.canvas > div {
        justify-content: flex-end;
    }

    header div.logo {
        padding: 10px;
    }

    header div.logo a {
        width: 120px;
    }

    header div.menu {
        display: none;
    }

    header div.language {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .fixheader {
        display: none;
    }
}

/* index */
header.index {
    border-bottom: none;
    transition: all .5s;
}

header.index div.canvas {
    padding: 0;
    width: 100%;
    background: none;
}

@media screen and (min-width: 1000px) {
    header.index:hover div.canvas {
        background: #fff;
    }

    header.index:hover div.logo img {
        width: 100%;
        filter: none;
        transition: all .5s;
    }
}

header.index div.logo img {
    width: 100%;
    filter: contrast(0) brightness(2);
    transition: all 1s;
}

header.index div.menu li a {
    display: block;
    font-size: 15px;
    color: #fff;
    transition: all .5s;
}

header.index:hover div.menu li a {
    color: #000;
    transition: all .5s;
}

header.index div.menu li div.detail-menu a {
    color: #000;
}

header.index div.menu li:hover div.detail-menu {
    display: block;
    transition: all .5s;
}

header.index div.language li a {
    display: block;
    font-size: 15px;
    color: #fff;
    transition: all .5s;
}

header.index:hover div.language li a {
    color: #000;
    transition: all .5s;
}

/* 뷰포트 이상으로 스크롤시 */
header.small {
    border-bottom: 1px solid #e2e2e2;
}

header.index div.small {
    background: #fff;
    transition: all .5s;
}

header.index .small div.logo img {
    width: 100%;
    filter: none;
    transition: all .5s;
}

header.index .small div.menu li a {
    color: #000;
    transition: all .5s;
}

header.index .small div.menu li div.detail-menu {
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
}

header.index .small div.language li a {
    color: #000;
    transition: all .5s;
}
