div.main {
    margin: 0 auto;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 메인 컨텐츠 제목 */
div.main div > h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    font-weight: 800;
}

/* 메인 컨텐츠 설명 */
div.main div > h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* 메인 컨텐츠 바로가기 */
div.main div > h2.link {
    margin: 20px 0 0 0;
}

/* 메인 비디오 */
div.main .visual-area .video-canvas {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 800px;
}

@media screen and (max-width: 1000px) {
    div.main .visual-area .video-canvas {
        height: 100vh;
    }
}

div.main .visual-area .video-canvas video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-size: cover;
    object-fit: cover;
}

div.main .visual-area .video-canvas div.title {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.1);
}

div.main .visual-area .video-canvas div.title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    transform: translate(-50%, -50%);
}


/* 메인 이미지 */
div.main {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    font-family: 'Noto Sans KR', sans-serif;
}

div.main .title {
    padding: 100px 0;
}

div.main .title .date {
    padding: 5px 0 0 0;
    font-size: 15px;
    font-weight: 500;
}

div.main .title .maintitle {
    font-size: 40px;
    font-weight: 900;
}

div.main .title .subtitle{
    padding-left: 10px 0 0 0;
    font-size: 15px;
    font-weight: 700;
}

div.main .photo {

}

div.main .photo .photo-canvas{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

div.main .photo .photo-canvas img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-size: cover;
    object-fit: cover;
}

div.main .text .maintitle {
    margin: 50px auto;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

div.main .text .maintext {
    margin: 50px auto;
    width: 1000px;
    font-weight: 300;
}

div.main .text .hashtag {
    margin: 50px 0;
    font-weight: 300;
    text-align: center;
}
