@media screen and (max-width: 1000px) {
    div.main {
        padding: 80px 0 0 0;
    }
}

/* 메인 비디오 */
div.main .visual-area .video-canvas {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 300px;
}

div.main .visual-area .video-canvas video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-size: cover;
    object-fit: cover;
}

div.main .visual-area .video-canvas div.title {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.1);
}

div.main .visual-area .video-canvas div.title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    transform: translate(-50%, -50%);
}


/* 메인 이미지 */
div.main .visual-area .img-canvas {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 300px;
}

div.main .visual-area .img-canvas img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-size: cover;
    object-fit: cover;
}

div.main .visual-area .img-canvas div.title {
    position: relative;
    width: 100%;
    height: 100%;
}

div.main .visual-area .img-canvas div.title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 40px;
    transform: translate(-50%, -50%);
}

div.main .visual-area .img-canvas div.title h1.white {
    color: #fff;
}

/* 포토폴리오 */
div.main .portfolio {
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    div.main .portfolio {
        padding: 20px 0;
    }
}

div.main .portfolio input {
    display: none;
}

div.main .portfolio label {
    display: inline-block;
    padding: 0 0 0 30px;
    margin: 40px 30px;
    background: url(../images/icons/checkbox-line.svg) no-repeat left;
    background-size: auto;
    font-size: 20px;
    font-weight: 600;
}

div.main .portfolio input:checked + label {
    background: url(../images/icons/checkbox-fill.svg) no-repeat left;
}

@media screen and (max-width: 1000px) {
    div.main .portfolio label {
        margin: 20px;
        padding: 0 0 0 25px;
        font-size: 15px;
        background-size: 20px;
    }

    div.main .portfolio input:checked + label {
        background-size: 20px;
    }
}

/* 포토폴리오 리스트 */

div.main .portfolio > div {

}

div.main .portfolio div ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.main .portfolio div li {
    overflow: hidden;
    display: none;
    margin: 20px;
    width: 300px;
}

@media screen and (min-width: 1000px) {
    div.main .portfolio div ul li:hover a div.cover_img img {
        filter: brightness(0.7);
        transform: scale(1.1);
    }

    div.main .portfolio div ul li:hover a div.cover_img span {
        opacity: 1;
    }
}

div.main .portfolio div ul li a {
    display: block;
}

div.main .portfolio div ul li a div.cover_img {
    overflow: hidden;
    position: relative;
    line-height: 0;
    border-radius: 10px;
    box-sizing: border-box;
}

div.main .portfolio div ul li a div.cover_img img {
    width: 100%;
    filter: brightness(1);
    transition: all 1s;
}

div.main .portfolio ul li a div.cover_img span {
    position: absolute;
    left: 5%;
    bottom: 10%;
    text-align: left;
    color: #fff;
    opacity: 0;
    transition: all 1s;
    z-index: 10;
}
div.main .portfolio ul li a div.cover_img span h1 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 40px;
    line-height: 40px;
}

div.main .portfolio ul li a div.cover_img span h2 {
    margin: 0 0 10px;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 20px;
    line-height: 20px;
}

div.main .portfolio ul li a div.cover_img span p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 10px;
    line-height: 15px;
}

@media screen and (max-width: 1000px) {
    div.main .portfolio ul li a div.cover_img span {
        display: none;
    }
}

div.main .portfolio ul li a div.cover_title {
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
}

div.main .portfolio ul li a div.cover_title h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

div.main .portfolio ul li a div.cover_title p {
    display: none;
    padding: 10px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    div.main .portfolio ul li a div.cover_title p {
        display: block;
    }
}
