/* 검색옵션 */

div.main .portfolio input.all:checked ~ div ul li {
    display: block;
    animation: all 1s ease;
}

div.main .portfolio input.variety:checked ~ div ul li.variety {
    display: block;
    animation: some 1s ease;
}

div.main .portfolio input.public:checked ~ div ul li.public {
    display: block;
    animation: some 1s ease;
}

div.main .portfolio input.Motion-graphic:checked ~ div ul li.Motion-graphic {
    display: block;
    animation: some 1s ease;
}

div.main .portfolio input.Typo-graphy:checked ~ div ul li.Typo-graphy {
    display: block;
    animation: some 1s ease;
}

div.main .portfolio input.ucc:checked ~ div ul li.ucc {
    display: block;
    animation: some 1s ease;
}

@keyframes all {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes some {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}
