/* 검색옵션 */

div.main .portfolio input.all:checked ~ div ul li:not(.logo) {
    display: block;
    animation: all 1s ease;
}

div.main .portfolio input.youtube:checked ~ div ul li.youtube {
    display: block;
    animation: some 1s ease;
}

div.main .portfolio input.logo:checked ~ div ul li.logo {
    display: block;
    animation: some 1s ease;
}

@keyframes all {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes some {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}
