div.main {
    margin: 0 auto;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 메인 컨텐츠 제목 */
div.main div > h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    font-weight: 800;
}

/* 메인 컨텐츠 설명 */
div.main div > h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* 메인 컨텐츠 바로가기 */
div.main div > h2.link {
    margin: 20px 0 0 0;
}

/* 메인 비디오 */
div.main .visual-area .video-canvas {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 800px;
}

@media screen and (max-width: 1000px) {
    div.main .visual-area .video-canvas {
        height: 100vh;
    }
}

div.main .visual-area .video-canvas video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-size: cover;
    object-fit: cover;
}

div.main .visual-area .video-canvas div.title {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.1);
}

div.main .visual-area .video-canvas div.title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    transform: translate(-50%, -50%);
}

/* 메인 이미지 */
div.main .visual-area .img-canvas {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #ebebeb;
}

div.main .visual-area .img-canvas img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-size: cover;
    object-fit: cover;
}

div.main .visual-area .img-canvas div.title {
    position: relative;
    width: 100%;
    height: 100%;
}

div.main .visual-area .img-canvas div.title span {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

div.main .visual-area .img-canvas div.title span h1{
    font-size: 40px;
}

div.main .visual-area .img-canvas div.title span p{
    padding: 20px 0 0;
    font-size: 20px;
}

div.main .visual-area .img-canvas div.title h1.white {
    color: #fff;
}

div.main .sitemap {
    width: 100%;
}

div.main .sitemap {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

div.main .sitemap ul {
    padding: 10px;
}

div.main .sitemap li {
    margin: 30px 0;
}

div.main .sitemap ul li p {
    padding: 20px 0 0 0;
}

div.main .sitemap ul li p a{
    padding: 0 20px 0 0;
}
